/****************************************
********* Components
************ TopArtist, TopTracks
***************************************/

h1{
  text-align: center;
  font-size: 2.5rem;
  color:#fff;
  margin: 0 auto 2rem;
  width: 30%;
  font-family: 'Dancing Script', cursive, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
h2{
  font-size: 1.7rem;
  padding: .8rem 0;
  color: bisque;
}
h3{
  font-size: 1.5rem;
  padding: .8rem 0;
  color: bisque;
  font-weight: 500;
}
.box-hero{
  background: #de5a22cc;
  width: 100%;
  padding: 1rem 3rem .5rem;
  transition:all .6s ease-out;
  will-change: auto;
}
.column.is-6{
  margin-top: 1.2rem;
}
.content-top-ten, .content-bio,.content-info-track{
  width: 100%;
  margin: 2rem auto;
  padding: 0 .5rem;
  min-height: 1790px;
  background: rgba(0, 0, 0, 0.8);
  color: rgb(181, 181, 181);
  padding-bottom: 2rem;
  overflow: hidden;
  transition:all .6s ease-out;
  will-change: auto;
}

.fadeIn .content-top-ten,
.fadeIn .content-bio,
.fadeIn .content-info-track,
.fadeIn .box-hero{
  transition:all .6s ease-in;
}
.fadeIn .box-hero{
  background-image: url("https://ricrdomedina.github.io/vueMusic/dist/green-dust-and-scratches.png");
}
.fadeIn .content-top-ten,
.fadeIn .content-bio,
.fadeIn .content-info-track{
  background-image: url("https://ricrdomedina.github.io/vueMusic/dist/45-degree-fabric-dark-body.png");
}

.content-info-track{
  padding: .5rem 2rem 4rem;
}
.content-bio{
  padding: .5rem 2rem;
}
.content-bio article{
  margin: 0 auto 1.2rem;
  min-height: 300px;
}
.content-bio.is-updated > article{
  will-change: auto;
  opacity: 0;
}
.content-bio.is-updated{
  background: rgba(222, 89, 34, 0.72);
}
.content-bio .bio{
  text-indent: .8rem;
  text-align: justify;
  overflow: hidden;
}
.content-top-ten article:first-child{
  position: relative;
  height: 275px;
  padding: .5rem 0;
  border-bottom: solid 1px #ccc;
  margin-top: 38px;
  cursor: pointer;
}
.content-top-ten article:first-child img{
  border: solid 3px rgba(222, 89, 34, 0.32);
  will-change: auto;
  transition:all .6s ease-out;
}
.content-top-ten article:first-child:hover img{
  border: solid 3px rgb(222,89,34);
  transition:all .6s ease-in;
}
.content-top-ten article:first-child figure{
  transition:all .6s ease-out;
  will-change: auto;
}
.content-top-ten article:first-child:hover figure{
  transform: scale(1.1);
  transition:all .6s ease-in;
}
.content-top-ten article:first-child .content-artist{
  border-bottom: none;
}
.content-top-ten article:first-child .content-artist:hover, .content-top-ten article:first-child .content-artist.is-active{
  background: transparent;
}
.content-top-ten article:first-child .content-artist.is-active img{
  border: solid 3px rgb(222,89,34);
  transition:all .6s ease-in;
}
.content-top-ten article:first-child figure{
  position: absolute;
  width: 200px;
  top: 10px;
  left: 0;
  right: 0;
  display: block;
  margin: 0 auto;
}
.content-top-ten article:first-child figure img{
  border-radius: 50%;
}
.content-top-ten article:first-child .box-number,.content-top-ten article:first-child .info{
  position: absolute;
  bottom: 20px;
  width: 10%;
  margin: 0;
  padding: 0;
  text-align: center;
}
.content-top-ten article .box-number-one,.content-top-ten article:first-child .box-number{
  display: none;
  position: static;
  width: 0;
}
.content-top-ten article:first-child .content-artist.is-active .box-number-one{
  background:rgb(239, 72, 3);
  transition:all .6s ease-in;
}
.content-top-ten article:first-child .box-number-one{
  display: flex;
  background: rgb(222, 89, 34);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -60px;
  left: 125px;
  transition:all .6s ease-out;
  will-change: auto;
}
.content-top-ten article:first-child .info{
  right: 0;
  bottom: 10px;
  width: 100%;
  text-align:center;
  padding-left: 0;
}
.content-top-ten article:first-child .info .name{
  color: rgb(183,60,28);
  font-style: normal;
  font-size: 1.2rem;
}

.content-top-ten article .info span{
  margin: 0 1rem 0 0;
  font-style: oblique;
  font-size: 1rem;
}
.content-top-ten .content-artist{
  display: flex;
  align-items: center;
  border-bottom: solid 1px #ccc;
  padding-top: .3rem;
  cursor: pointer;
  transition:all .6s ease-out;
  will-change: auto;
}
.content-top-ten .content-artist:hover{
  background: rgba(222, 89, 34, 0.32);
  transition:all .6s ease-in;
}
.content-top-ten .content-artist.is-active{
  background: rgba(222, 89, 34, 0.58);
  transition:all .6s ease-in;
}
.content-top-ten .content-artist .box-number{
  width: 10%;
  text-align: center;
  color: #f5980e;
  font-size: 1.1rem;
}
.content-top-ten .content-artist figure{
  width: 90px;
}
.content-top-ten .content-artist .info{
  padding-left: .8rem;
}
.info .name{
  font-size: 1rem;
  font-weight: 600;
  color: rgb(210, 127, 92);
  font-style: oblique;
}
.content-top-ten .table, 
.content-bio .table,
.content-info-track .table{
  background: transparent;
  color: rgb(181, 181, 181);
  font-size: 1rem;
}
.table tr th{
  color: bisque;
}
.content-top-ten .table tr, 
.content-bio .table tr,
.content-info-track .table tr{
  background: transparent;
}
.content-bio .info{
  text-align: center;
  margin-top: 25px;
}
.info .number-top{
  width: 55px;
  position: absolute;
  bottom: 25px;
  right: 28%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ef4803;
  border-radius: 50%;
}
.content-image{
  position: relative;
}
.content-image img{
  border-radius: 50%;
  width: 60%;
  border: solid 6px rgba(222, 89, 34, 0.32)
}
.info.toptrack .content-image{
  margin-bottom: 10px;
}
.info.toptrack .content-image img{
  width: 50%;
}
.content-image figcaption{
  text-align: center;
}
.content-info-track .content-image img, .info.toptrack figure{
  transition:all .6s ease-out;
  will-change: auto;
}
.content-info-track .content-image:hover img, .info.toptrack:hover figure{
  transition:all .6s ease-in;
  transform: scale(1.1);
}
.content-image .artist,.info.toptrack .artist{
  font-size: 2rem;
  color: rgba(210, 127, 92, 0.6313725490196078);
}
.content-image .track,.info.toptrack .track, .info.toptrack .artist-top{
  font-size: 2.5rem;
  color: #de5922;
}
.info.toptrack .artist{
  font-size: 1.2em;
}
.info.toptrack .track, .info.toptrack .artist-top{
  font-size: 1.5em;
}
.section-main .content-bio.detail, 
.section-main .content-info-track {
  width: 100%;
  height: unset;
  min-height: unset;
  overflow-y: unset;
}
#containerInfo .close{
  display:none;
  cursor: pointer;
  font-size: 2rem;
  transition:all .6s ease-out;
  will-change: auto;
}
#containerInfo.fixed .close {
  color: #fff;
  display: none;
  background: rgb(222, 89, 34);
  text-align: right;
  margin-top: 0;
  top: 0;
  right: 0;
  padding: .5rem 1rem;
  position: absolute;
  z-index: 999999999;
  width: 100px;
  height: 70px;
  align-items: center;
  justify-content: center;
  transition:all .6s ease-in;
}