/* The Loader */
.wrapper-card.is-loaded .loader,
.wrapper-card.is-loaded .loader:after
{
  border-radius: 50%;
  width: 10em;
  height: 10em;
  display:block;
  transition:all 0.8s ease-out;
  opacity: 1;
}
.wrapper-card.is-loaded .card{
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-card .loader,
.wrapper-card .loader:after,
.content-bio .loader,
.content-bio .loader:after
{
  display:none;
  transition:all 1s ease-out;
  opacity: 0;
}
.wrapper-card .box-card-track{
  -ms-transition:all 0.8s ease-out;
  -moz-transition:all 0.8s ease-out;
  -o-transition:all 0.8s ease-out;
  -webkit-transition:all 0.8s ease-out;
  transition:all 0.8s ease-out;
  opacity: 1;
  display: block;
}
.wrapper-card.is-loaded .box-card-track{
  -ms-transition:all 0.8s ease-in;
  -moz-transition:all 0.8s ease-in;
  -o-transition:all 0.8s ease-in;
  -webkit-transition:all 0.8s ease-in;
  transition:all 0.8s ease-in;
  opacity: 0;
  display: none;
}
.wrapper-card.is-loaded .loader,
.content-bio .loader.is-active{
  margin: 0 auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 0, 0, 0.6);
  border-right: 1.1em solid rgba(0, 0, 0, 0.6);
  border-bottom: 1.1em solid rgba(0, 0, 0, 0.6);
  border-left: 1.1em solid rgba(255, 255, 255, 0.705);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.content-bio .loader.is-active{
  margin-top: 3rem;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.content-bio .loader.is-active,
.content-bio .loader.is-active:after
{
  border-radius: 50%;
  width: 10em;
  height: 10em;
  display:block;
  transition:all 1s ease-in;
  opacity: 1;
}